$color-1: #9EF3FF;
$color-2: #545996;
// body {
//     color: $color-2;
// }

.navbar-nav {
    color: $color-2;
}

.feature-box{
    display: flex;

    gap: 16px;
    &__text{

    }
    &__imgBox{
        
    }
    &__imgBg{
        width: 64px;
        height: 64px;
        background-color: color(p-900);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &__img{
        width: 60%;
        height: auto;
        fill: yellow;
    }
    &__show{
        
    }
}

.services{
    padding-top: 116px;
    padding-bottom: 116px;

}

.accordion-section{
    padding-top: 116px;
    padding-bottom: 116px;
}

.carousel-inner {
    
}
   

.specialist {
    padding: 140px 0; 
}

.appointment {
    background-color: $color-1;
    &__img{
        background: url("../img/img/1.jpg") no-repeat;
        background-size: cover;
        min-height: 250px;

    }
    &__formBox{
        padding: 88px 52px;
    }
    &__radio{

    }
}

.achiev-con {
    
    &__row{
        gap:3rem 0;
    }
}

.achiev-box {
    
    display: flex;
    
    gap: 16px;

}

.contact {
    height: 384px;
    &__icons{
        display: flex;
        flex-direction: row;
    }
    &__iconLink{
        display: block;
    }
}

.footer{
    background: $gray-300;
}

.achiev-con {
    background: $color-1;
}


@include media-breakpoint-up(md) { 
    .carousel-item{
        &__text{
            
        }
    }

 }