

.tns-nav{ 
    text-align: center;
    [aria-controls]{
        border: none;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: color(p-700);
        margin-right: 8px;
    }
    &-active{
        background:color(p-900) !important;
    }

}

.my-slider{
    &__box{
        text-align: center;
        // display: inline-block;
    }
    &__img{
        width: 100%;
    }
}